<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css"/>

    <title>Non Profit ORG
    </title>
  </head>
  <body>

{{>navbar}}
{{!-- herosection --}}

{{!-- {{>herosection}} --}}
<div class="container-fluid home">
  <br><br><br><br>
  <div class="row">
    <div class="col-md-10 col-12 m-auto">
      <div class="row">
      <div class="row">
  <div class="column">
    <img src='images/16.jpg' alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src='images/17.jpg' alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src='images/18.jpg' alt="Mountains" style="width:100%">
  </div>
</div>
 <div class="row">
  <div class="column">
    <img src='images/Food-Basket-For-Ramadan-small-1586853551.jpg' alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src='images/Self-Reliant-Program-SOMBOL-small-1670511402.jpg' alt="Forest" style="width:100%">
  </div>
  <div class="column text-white">
    <h3>হাসিমুখ</h3>
     <br><br>
    <h3>This Team Works to Make smile in Poor's Face. Gathering Whole nation to make a beautiful BANGLADESH</h3>
    <br><br>
     <button class="homebutton"><a class='nav-link ml-2' href='/projects'>Explore Projects</a></button>
  </div>
</div>
          
          </div>
      </div>
    </div>
  </div>
</div>


{{>about}}
{{>services}}




<div class="btn-center">
 <button class="homebutton"><a class='nav-link ml-2' href='/donate'>Donate</a></button>
</div>



<br><br>

<div class="about-section">
  <h1>About Us</h1>
  <p>Hashimukh is a non profit organization</p>
  <p>We work to make smile in poor childrens face</p>
</div>
<br><br>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      
      <div class="container">
        <br>
        <h2>Mohammad Shihabuzzaman</h2>
        <p class="title">CEO</p>
        <p>responsible for overall strategy and direction of the company.</p>
        <p>Shihab@hashimukh.com</p>
       
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <br>
        <h2>Supti Bhakta</h2>
        <p class="title">Director</p>
        <p>oversee specific areas of the company and provide guidance to management.</p>
        <p>Supti@hashimukh.com</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
     
      <div class="container">
        <br>
        <h2>Asiful Hossain</h2>
        <p class="title">Program Manager</p>
        <p>are responsible for managing specific projects or programs within the company.</p>
        <p>asiful@hashimukh.com</p>
       
      </div>
    </div>
  </div>
</div>






    <script src='../jq/jquery.js' type='text/javascripy'></script>
    <script src='../js/bootstrap.js' type='text/javascripy'></script>

  </body>


</html>

