<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Non Profit ORG
    </title>
  </head>
  <body>

    <div class="container-fluid mt-5">
      <h1 class="text-center project-header">ALL PROJECTS</h1>

      <div class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5" style="height: 25%;">
        <div class="col-2">
          <img
            src="images/16.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <div class="col-8">
          <h2>
            Feed the ones, Fasting</h2>
          <p style="font-size:200%;">Ramadan is a blessing for humanity every year, and we get an
            excellent chance to perform Ibadah (Prayer). The charity committed
            during Ramadan multiplies in many fol</p>
            <br><br><br><br>
              <button class="donate-btn"><a class='nav-link ml-2' href='/donate'>Donate</a></button>
        </div>
      </div>

         <div class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5" style="height: 25%;">
        <div class="col-2">
          <img
            src="images/Food-Basket-For-Ramadan-small-1586853551.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <div class="col-8">
          <h2>
            
Iftar Basket for helpless</h2>
          <p style="font-size:200%;">Ramadan is a blessing for the Muslim ummah. Due to global recessions, food prices have increased significantly. People suffer for food, and we want to be there for </p>
              <br><br><br><br>
              <button class="donate-btn"><a class='nav-link ml-2' href='/donate'>Donate</a></button>
        </div>
      </div>

      
         <div class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5" style="height: 25%;">
        <div class="col-2">
          <img
            src="images/Self-Reliant-Program-SOMBOL-small-1670511402.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <div class="col-8">
          <h2>
            

Zakat - Self Reliant Program</h2>
          <p style="font-size:200%;">Hashimukh supports individuals in becoming self-employed and self-sufficient. "Sombol" is our self-reliant project through which we are aiming to create ongoing  </p>
              <br><br><br><br>
              <button class="donate-btn"><a class='nav-link ml-2' href='/donate'>Donate</a></button>
        </div>
      </div>

      
         <div class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5" style="height: 25%;">
        <div class="col-2">
          <img
            src="images/17.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <div class="col-8">
          <h2>
            


Scholarship Program</h2>
          <p style="font-size:200%;">Education is the backbone of a nation. But many students drop out of school every year due to poverty. But our little cooperation can bring them back and ensure a be   </p>
             <br><br><br><br>
              <button class="donate-btn"><a class='nav-link ml-2' href='/donate'>Donate</a></button>
        </div>
      </div>

      
         <div class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5" style="height: 25%;">
        <div class="col-2">
          <img
            src="images/18.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <div class="col-8">
          <h2>
One Taka Meal</h2>
          <p style="font-size:200%;">A very new and unique program began by Bidyanondo is 'Ek Takay Ahar', which refers to 'food for a single penny'. Under this program hundreds of street dwelling child   </p>
              <br><br><br><br>
              <button class="donate-btn"><a class='nav-link ml-2' href='/donate'>Donate</a></button>
        </div>
      </div>
    </div>

    <script src="../jq/jquery.js" type="text/javascripy"></script>
    <script src="../js/bootstrap.js" type="text/javascripy"></script>

  </body>
</html>