<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Non Profit ORG
    </title>
  </head>
  <body>

    <div class="container-fluid mt-5">
      <h1 class="text-center project-header">SPONSOR These kids</h1>

      <div
        class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5"
        style="height: 25%;"
      >
        <div class="col-2">
          <img
            src="images/faima.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <br>
        <div class="col-8">
          <h2>
           Faima Akter</h2>
           
          <div>
             <span class="text-white bg-warning p-2" style="font-size: 20px;">Yearly</span>

           <span class="text-white bg-warning p-2 mx-2"style="font-size: 20px;">৳ 36000.00</span>
          </div>
          <br><br><br><br>
          <button class="donate-btn mt-5"><a
              class="nav-link ml-2"
              href="/donate"
            >Donate</a></button>
        </div>
      </div>

       <div
        class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5"
        style="height: 25%;"
      >
        <div class="col-2">
          <img
            src="images/arfatul.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <br>
        <div class="col-8">
          <h2>
           Arfatul yeasin</h2>
           
          <div>
             <span class="text-white bg-warning p-2" style="font-size: 20px;">Yearly</span>

           <span class="text-white bg-warning p-2 mx-2"style="font-size: 20px;">৳ 36000.00</span>
          </div>
          <br><br><br><br>
          <button class="donate-btn mt-5"><a
              class="nav-link ml-2"
              href="/donate"
            >Donate</a></button>
        </div>
      </div>

       <div
        class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5"
        style="height: 25%;"
      >
        <div class="col-2">
          <img
            src="images/jishan.jpg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <br>
        <div class="col-8">
          <h2>
          Md.Jishan</h2>
           
          <div>
              <span class="text-white bg-warning p-2" style="font-size: 20px;">Yearly</span>

           <span class="text-white bg-warning p-2 mx-2"style="font-size: 20px;">৳ 36000.00</span>
          </div>
          <br><br><br><br>
          <button class="donate-btn mt-5"><a
              class="nav-link ml-2"
              href="/donate"
            >Donate</a></button>
        </div>
      </div>

       <div
        class="row overflow-hidden bg-light p--2 gap-2 d-flex justify-content-center my-5"
        style="height: 25%;"
      >
        <div class="col-2">
          <img
            src="images/lamim.jpeg"
            alt="img"
            class="img-fluid"
            style="height: 100%"
          />
        </div>
        <br>
        <div class="col-8">
          <h2>
           MD: Lamim miya</h2>
           
          <div>
             <span class="text-white bg-warning p-2" style="font-size: 20px;">Yearly</span>

           <span class="text-white bg-warning p-2 mx-2"style="font-size: 20px;">৳ 36000.00</span>
          </div>
          <br><br><br><br>
          <button class="donate-btn mt-5"><a
              class="nav-link ml-2"
              href="/donate"
            >Donate</a></button>
        </div>
      </div>


     

     

     
    </div>

    <script src="../jq/jquery.js" type="text/javascripy"></script>
    <script src="../js/bootstrap.js" type="text/javascripy"></script>

  </body>
</html>