<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Non Profit ORG
    </title>
  </head>
  <body>

    <div class="container-fluid bg-light p-5">
 <h1 class="text-center">VOLUNTEER REGISTRATION</h1>
 <br><br>
 <form action="/volunteer" method="POST" class="col-4 mx-auto">
  <div class="">
     <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="name">
  </div>

  <div class="my-2">
      <input type="text" class="form-control" placeholder="Email address" aria-label="Email address" name="email">
  </div>

   <div class="">
       <input type="text" class="form-control" placeholder="Gender" aria-label="Gender" name="gender">
  </div>
 
 <div class="my-2">
   <input type="text" class="form-control" placeholder="Branch" aria-label="Branch" name="branch">
  </div>
  <br><br><br><br><br><br>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
 <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> 
    </div>

    <script src="../jq/jquery.js" type="text/javascripy"></script>
    <script src="../js/bootstrap.js" type="text/javascripy"></script>

  </body>
</html>