<div id="impact" class='container-fluid mt-5'>
  <div class='row'>
    <div class='col-md-10 col-12 m-auto'>
      <div class='row py-5'>
        <div
          class='col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column'
        >
          <div>
            <div class ='impact'>
              <h1>Our Impact</h1>
              <h5>We’ve worked on improving the lives of over 25,000 poor people through providing them foods, education, clothes and other necessary items.
               Poor child has bright future and could impact on our country development if we can give them proper education. We are continue working on poor childs to give them a good life and make the country more better.</h5>

            </div>
          </div>
        </div>
        <div class='col-md-6 col-12 hero-text order-md-0 order-1'>
          <figure>
            <img src='images/21.jpg' height="600px" width="500px" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid impacts">
  <div class="row">
    <div class="col-md-10 col-12 m-auto">
      {{!-- <div class="row">
        <div class="col-md-4 col-12 order-md-0 order-1 d-flex justify-content-center align-items-start flex-column text-center">
            <img src='images/3.png'/>
            <h4 class="py-3">DONATIONS</h4>
            <p>We are always with you at any crisis in Bangladesh to help and support you.</p>
        </div>
                <div class="col-md-4 col-12 order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <img src='images/4.png'/>
                        <h4 class="py-3">VOLUNTEER </h4>
                        <p>We will be proud to have you as a volunteer.</p>
        </div>
                <div class="col-md-4 col-12 order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <img src='images/4.png'/>
                        <h4 class="py-3">SPONSORSHIP </h4>
                        <p>Support us by your donations to create a better future.</p>
        </div>
      </div> --}}

       <div class='col-md-10 col-12 mx-auto'>
      <div class='row my-5 justify-content-evenly'>
        <div class="col-md-3 col-12 order-md-0 order-1 d-flex justify-content-center align-items-center flex-column text-center">
           <img src='images/3.png'/>
           <a href="/donate" class="text-decoration-none text-black fw-bold">DONATIONS</a>
            <p>We are always with you at any crisis in Bangladesh to help and support you.</p>
        </div>
        <div class="col-md-3 col-12 order-md-0 order-1 d-flex justify-content-center align-items-center flex-column text-center">
            <img src='images/4.png'/>
              <a href="/volunteer" class="text-decoration-none text-black fw-bold">VOLUNTEER</a>
                        <p>We will be proud to have you as a volunteer.</p>
        </div>
                <div class="col-md-3 col-12 order-md-0 order-1 d-flex justify-content-center align-items-center flex-column text-center">
           <img src='images/4.png'/>
            <a href="/sponsorship" class="text-decoration-none text-black fw-bold">SPONSORSHIP</a>
                        <p>Support us by your donations to create a better future.</p>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>