<div class="container-fluid navbar-style">
  <div class="row">
    <div class="col-md-10 col-12 m-auto">

      <nav class="">
        {{!-- <a class="navbar-brand" id="logo" href="/"><img
            src="images/logo.png"
            height="40px"
            width="50px"
          />&emsp; &emsp; &emsp; &emsp; &emsp;</a> --}}
        {{!-- <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button> --}}

        {{! <div
          class="collapse navbar-collapse justify-content-center align-items-center"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav ml-100">

            <li><p> &emsp; &emsp; </p></li>

            <li class="nav-item active">
              <a class="nav-link ml-2" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link ml-2" href="#impact">Who We are</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-2" href="#works">Who We Serve</a>
            </li>

            <li class="nav-item">
              <a class="nav-link ml-2" href="/donate">DONATE NOW</a>
            </li>

          </ul>

        </div> }}
        <div class="logo">
           <a class="navbar-brand" id="logo" href="/"><img
            src="images/logo.png"
            height="40px"
            width="50px"
          />&emsp; &emsp; &emsp; &emsp; &emsp;</a>
           <h4>হাসিমুখ</h4>
        </div>

        <div class="nav">
           <a class="" href="/">Home</a>
           <a class="" href="#impact">Who We are</a>
           <a class="" href="#works">We Serve</a>
            <a class="" href="/donate">DONATE NOW</a>
          <div class="animation start-home"></div>
        </div>

      </nav>

    </div>
  </div>
</div>