<div id="works" class="container-fluid mt-5">
  <br><br>
  <div class="row my-5">
    <div class="col-md-10 col-12 m-auto">
      <h1>What we do</h1>
    </div>
  </div>
</div>

<div class='container-fluid mt-5'>
  <div class='row'>
    <div class='col-md-10 col-12 mx-auto'>
      <div class='row my-5 justify-content-evenly'>
        <div class="col-md-3 col-12 order-md-0 order-1 d-flex justify-content-center align-items-center flex-column text-center bg-warning text-white cursor">
            <img src='images/spoun.webp'/>
            <h3 class="fw-bold">FOOD</h3>
            <p>We want to inspire a nation with food. Best relation can be created through sharing food.</p>
        </div>
        <div class="col-md-3 col-12 order-md-0 order-1 d-flex justify-content-center align-items-center flex-column text-center bg-warning cursor text-white">
            <img src='images/graduate.webp' />
   <h3 class="fw-bold">EDUCATION</h3>
            <p>To become a national treasure by offering free education to children and orphans.</p>
        </div>
                <div class="col-md-3 col-12 order-md-0 order-1 d-flex justify-content-center align-items-center flex-column text-center bg-warning cursor text-white">
            <img src='images/medikit.webp'/>
             <h3 class="fw-bold">TREATMENT</h3>
            <p>To deliver free medicines and health care to underprivileged people.</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row py-5">
    <div class="col-md-5 col-5 m-auto">
      <h1>Our Works</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eR-j5NL1CPY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>